div.cartContainer{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 0 4px 25px rgb(14 36 49 / 15%);
  border-radius: 0.5rem;
  overflow: hidden;
  
  padding-top: 85px;
  text-align: center;
}

div.cartContainerContext{
  button{
  margin-bottom: 20px;
}
}

div.cartContainerItems{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 0 4px 25px rgb(14 36 49 / 15%);
  border-radius: 0.5rem;
  overflow: hidden;
  
button.deleteIconCart{
  color: black;
  @media screen and (max-width: 576px) {
    
    
    
  }
}

h3.subTotal{
  font-weight: 600;
    font-size: 22px;
  text-align: right;
  margin-bottom: 15px;
}

  padding-top: 60px;
  h1{
    text-align: center;
    @media screen and (max-width: 576px) {
      margin-bottom: 25px;
      
      
    }
  }

  p.cartTotal{
    font-weight: 600;
    font-size: 24px;
    text-align: right;
    margin-bottom: 25px;
  }
  p.buttonClear{
    text-align: right;
  }

  p.checkoutButton{
    text-align: center;
  }

  span.productPrice{
    padding-top: 10px;
    float: right;
    font-size: 22px;
    font-weight: 500;
    @media screen and (max-width: 576px) {
      font-size: 15px;
      float: none;
      text-align: right;
      margin-left: 50px;
      
      
      
    }
  }

  span.itemProps{
    font-size: 22px;
    font-weight: 500;
    @media screen and (max-width: 576px) {
      font-size: 15px;
      
      
    }

  }

  button{
    margin-top: 15px;
    margin-bottom: 15px;
    
  }
  span.productCantidad{
    font-size: 18px;
    @media screen and (max-width: 576px) {
      font-size: 15px;
      
      
    }
  }
  
}