body{
  position:relative;
  padding-bottom: 15rem;
  min-height: 100vh;
}

div.footerContainer{
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  vertical-align: middle;
  display: flex;
  margin-top: 35px;
  height: 70px;
  width: 100%;
  background-color: black;

p  {
  font-size: 13px;
  color: white;
  align-self: center;
  @media screen and (max-width: 576px) {
    text-align: center;
    
    
  }
  }

div.footerIcons{
  align-self: center;
  @media screen and (max-width: 576px) {
    display: none;
    
    
  }
}
img{
  margin-left: 20px;
  @media screen and (max-width: 576px) {
    
    margin-left: 1px
    
    
  }
}

}