.menuNavbar {
  background-color: black;
}

a.navBarLogo {
  text-decoration: none;
  color: white;
}

a.menuItem{
  text-decoration: none;
  color: black;
}

button.btnProductos{
  background-color: black;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: black !important;
}

li.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root  {
  text-decoration: none;
  color: black;
  font-size: 17px;
  margin: 15px;
  
  }

  
 

